
.feed{
    flex: 6;
}
.feedContainer {
    /* flex: 6; */
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
}

.feedWrapper {
    padding: 20px;
}

::-webkit-scrollbar{
    display: none;
}